In [2]:
#convert integer to floating no

int_num=23
float_num=float(int_num)
print(float_num)

23.0

In [3]:
#convert float to integer 

float_num=23.999
int_num= int(float_num)
print(int_num)

23

In [5]:
 #Convert a integer to a string.
num=3
string_num=str(num)
print(string_num)
print(type(string_num))

3
<class 'str'>

In [15]:
# convert a  list into a tuple

def convert(list):
	return (*list, )

# Driver function
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

In [20]:
# convert a tuple into a list
# Define a tuple
jitu_tuple=(1,2,3) 
jitu_list=[*jitu_tuple] 
print(jitu_list)

[1, 2, 3]

In [22]:
#convert a decimal to binary number
def convertToBinary(n):
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')

# decimal number
dec = 5

convertToBinary(dec)
print()

101

In [23]:
#convert a non zero to boolean number
x = bool(1)
print(x)
y = bool()
print(y)

True
False